@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color_main: theme('colors.neutral.100');
  --color_sec: theme('colors.black');
  --color_sub: theme('colors.stone.500');
  --color_hover: theme('colors.neutral.200');
}

[data-theme='dark'] {
  --color_main: theme('colors.neutral.950');
  --color_sec: theme('colors.white');
  --color_sub: theme('colors.stone.400');
  --color_hover: theme('colors.zinc.900');
}